# -----------------------------
# REQUIRED: Account Info
# -----------------------------

XTREAM_BASE=YOUR_XTREAM_SERVER_URL_HERE
XTREAM_USERNAME=YOUR_USER_HERE
XTREAM_PASSWORD=YOUR_PASS_HERE


TMDB_KEY=YOUR_TMDB_API_KEY_HERE

# Unique addon ID (alphanumeric and hyphens only)
# use if you are running on a public domain, otherwise leave blank
# must change to a new random one, run in terminal:
#   python3 -c "import uuid; print(uuid.uuid4().hex[:12])"
# NOTE: if you don't specify a new one/leave blank and use the default below,
# it will randomly change to a new path every time (not ideal but safer).
BASE_PATH="8501c45d8045"


# Path to this env file
ENV_FILE=.env

# Host and Port to bind the addon server to:
# probably best to keep host at 0.0.0.0
HOST=0.0.0.0
# this is a random port you could use to avoid conflicts:
PORT=7348


# -----------------------------
# OPTIONAL: Refresh/Cache
# -----------------------------

# choose path to write cache files to disk
DATA_PATH="data"

# choose to write series info on local disk 
# needs multiple GB of disk space but speeds up search
WRITE_SERIES_INFO=true

# Force full refresh of cache (delete prior cache)
RESET_CACHE=false


# Refresh interval (default=1140,min=60)
# Examples: hourly=60, daily=1440, weekly=10080, monthly=43200
REFRESH_MINUTES=1440


# -----------------------------
# OPTIONAL: Customization
# -----------------------------

# Addon name (shown in Stremio Addon Page UI)
ADDON_NAME="Xtream2Stremio"
ADDON_DESCRIPTION="Get streams from your IPTV's VOD library. Made with <3 by Space Cowboy."


# Source Title Cleaning (case insensitive substrings; empty = no filtering)
# Replaces all occurrences of substrings in titles from your Xtream account.
# Format as JSON list, for example: [{"to_be_replaced": "replacement"}, {"another": ""}]
TITLE_CLEANING=[{"4k": "4K"}, {"uhd": "UHD"}, {"EN - ": ""}, {"\u272a": ""}, {"|EN|": ""}]
CATEGORY_CLEANING=[{"4k": "4K"}, {"uhd": "UHD"}, {"EN - ": ""}, {"\u272a": ""}, {"|EN|": ""}]


# Title/Category filters (case insensitive substrings; empty = no filtering)
# Removes any titles/categories containing these substrings.
# Format as list, for example: ["kids", "spanish"]
TITLE_EXCLUDE_FILTER=[]
CATEGORY_EXCLUDE_FILTER=[]


# Stream Name and Description templates (shown in Stremio streams UI)
# options: {quality}, {title}, {category_name}
# for series, you also get: {season}, {episode}
# note: quality will say 4K or default to HD based on source title
STREAM_NAME_TEMPLATE_MOVIE="VOD {quality}"
STREAM_DESC_TEMPLATE_MOVIE="{title} \nCategory: {category_name} \nXtream2Stremio"

STREAM_NAME_TEMPLATE_SERIES="VOD {quality}"
STREAM_DESC_TEMPLATE_SERIES=f"S{season}E{episode} \n{title} \nCategory: {category_name} \nXtream2Stremio"

# Set max number of streams to return
MAX_STREAMS_PER_MATCH=30


# -----------------------------
# OPTIONAL: Logging / profiling
# -----------------------------
# One of: DEBUG, INFO, WARN, WARNING, ERROR
LOG_LEVEL=INFO

# -----------------------------
# OPTIONAL: HTTP behavior
# -----------------------------

HTTP_TIMEOUT_S=30

